
/** Página Geral**/

*{
    margin: 0;
}

header{
    display: flex;
    background-color: orange;
    height: 9vh;
    align-items: center;
    justify-content: space-between;
}

footer{
    display: flex;
    background-color: rgb(14, 11, 46);
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 35px;
    font-weight: bold;
    align-items: center;
    width: 100%;
    height: 8vh;
    border-bottom: solid 2px orange;
}

/** Página Principal **/

.title{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 1%;
}

.search{
    margin-right: 5%;
}

#search{
    height: 25px;
    width: 120px;
}

main{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
}

section>p{
    display: flex;
    text-align: center;
}

.video1{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 1 / 1 / 1 / 1;
}

.video2{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 1 / 2 / 1 / 2;
}

.video3{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 1 / 3 / 1 / 3;
}

.video4{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 1 / 4 / 1 / 4;
}

.video5{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 2 / 1 / 2 / 1;
}

.video6{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 2 / 2 / 2 / 2;
}

.video7{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 2 / 3 / 2 / 3;
}

.video8{
    height: 30vh;
    width: 16.55vw;
    margin-top: 3%;
    border: solid 1px lightgreen;
    grid-area: 2 / 4 / 2 / 4;
}

section>video{
    height: auto;
    width: 16.55vw;
}

/** Detalhes Vídeo **/

.video-detail>video{
    height: 50vh;
    width: auto;
    margin-top: 5%;
    margin-bottom: 2%;
}

.video-title{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2%;
}



