*{
    margin: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

@media only screen and (min-width: 1200px){
    /** 
    * Cabeçalho *
    **/

    header{
        background-image: url("imgs/restaurant_hero.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    .logo{
        height: 15vh;
        margin-left: 3vw;
        margin-top: 1vh;
    }

    header>p{
        color: white;
        margin-left: 3vw;
        font-size: 3em;
    }

    div:first-of-type{
        display: flex;
        justify-content: space-around;
        margin-top: 5vh;
    }

    .text-header{
        color: white;
        font-size: 2.5vh;
    }

    #buttons-header{
        display: flex;
        justify-content: space-around;
    }

    .buttons{
        border: solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        width: 110px;
        height: 45px;
        font-size: 20px;
        margin-bottom: 3vh;
    }
    

    /** 
    * Corpo do Site *
    **/

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cep-form{
        display: flex;
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #F25C5C;
        height: 170px;
        width: 680px;
        border-radius: 10px;
        margin-bottom: 5vh;

    }

    #cep-form>p{
        font-size: 2.5vh;
    }   

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cep-input{
        margin-top: 2vh;
        border: none;
        border-radius: 10px;
        background-color: white;
        width: 170px;
        height: 50px;
        margin-bottom: 1vh;
    }

    .form-submit{
        border: none;
        border-radius: 10px;
        background-color: white;
        color: #F20505;
        width: 150px;
        height: 40px;
        font-size: 1.4em;
    }

    /** 
    * Pratos mais vendidos *
    **/
    .titulo-cardapio{
        text-align: center;
    }

    #cardapio{
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        
    }

    .item1{
        grid-area: 1 / 1 / 1 / 1;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item2{
        grid-area: 1 / 2 / 1 / 2;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    } 

    .item3{
        grid-area: 1 / 3 / 1 / 3;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item4{
        grid-area: 1 / 4 / 1 / 4;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item5{
        grid-area: 2 / 1 / 2 / 1;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item6{
        grid-area: 2 / 2 / 2 / 2;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item7{
        grid-area: 2 / 3 / 2 / 3;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item8{
        grid-area: 2 / 4 / 2 / 4;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /** 
    * Sobre a Empresa *
    **/

    #about{
        background-color:  rgb(228, 225, 225);
        width: 100%;
        text-align: center;
    }

    #about>h2{
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    #equipe{
        display: grid;
        grid-template-columns: repeat(4 1fr);
        margin-bottom: 5vh;
    }

    .img-equipe{
        width: 256px;
        height: auto;
    } 

    .funcionario1{
        grid-area: 1 / 1 / 1 / 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .funcionario2{
        grid-area: 1 / 2 / 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .funcionario3{
        grid-area: 1 / 3 / 1 / 3;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .funcionario4{
        grid-area: 1 / 4 / 1 / 4;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /** 
    * footer *
    **/

    footer{
        background-color: darkgrey;
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center;
    }

    .rede-social{
        height: 40px;
        margin: 10px;
    }

}

@media only screen and (max-width: 1199px){
        /** 
    * Cabeçalho *
    **/

    header{
        background-image: url("imgs/restaurant_hero1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        

    }

    .logo{
        height: 12vh;
        width: 12vh;
        margin-top: 1vh;
        
    }

    header>p{
        color: white;
        margin-left: 3vw;
        font-size: 3em;
    }

    div:first-of-type{
        display: flex;
        justify-content: space-around;
        margin-top: 5vh;
        width: 100%;
    }

    .text-header{
        color: white;
        font-size: 2.5vh;
        width: 100%;
    }

    #buttons-header{
        display: flex;
        justify-content: space-around;
    }

    .buttons{
        border: solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        width: 110px;
        height: 45px;
        font-size: 20px;
        margin-bottom: 3vh;
    }

    /** 
    * Corpo do Site *
    **/

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cep-form{
        display: flex;
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #F25C5C;
        height: 25vh;
        width: 90vw;
        border-radius: 10px;
        margin-bottom: 5vh;

    }

    #cep-form>p{
        font-size: 2.5vh;
        text-align: center;
    }   

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cep-input{
        margin-top: 2vh;
        border: none;
        border-radius: 10px;
        background-color: white;
        width: 170px;
        height: 50px;
        margin-bottom: 1vh;
    }

    .form-submit{
        border: none;
        border-radius: 10px;
        background-color: white;
        color: #F20505;
        width: 150px;
        height: 40px;
        font-size: 1.4em;
    }

    /** 
    * Pratos mais vendidos *
    **/

    #cardapio{
        display: flex;
        flex-direction: column;
        justify-items: center;
        
    }

    .item1{
        grid-area: 1 / 1 / 1 / 1;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item2{
        grid-area: 1 / 2 / 1 / 2;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    } 

    .item3{
        grid-area: 1 / 3 / 1 / 3;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item4{
        grid-area: 1 / 4 / 1 / 4;
        background-color: rgb(228, 225, 225);
        height: 310px;
        justify-content: space-evenly;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item5{
       display: none;
    }

    .item6{
        display: none;
    }

    .item7{
        display: none;
    }

    .item8{
        display: none;
    }

    /** 
    * Sobre a Empresa *
    **/

    #about{
        background-color:  rgb(228, 225, 225);
        width: 100%;
        text-align: center;
        padding-bottom: 2vh;
    }

    #about>h2{
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    #about>h2:second-of-type{
        display: none;
    }

    #titulo-equipe{
        display: none;
    }

    #equipe{
        display: none;
    }

    .img-equipe{
        width: 256px;
        height: auto;
    } 

    .funcionario1{
        grid-area: 1 / 1 / 1 / 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .funcionario2{
        grid-area: 1 / 2 / 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .funcionario3{
        grid-area: 1 / 3 / 1 / 3;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .funcionario4{
        grid-area: 1 / 4 / 1 / 4;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /** 
    * footer *
    **/

    footer{
        background-color: darkgrey;
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center;
    }

    .rede-social{
        height: 40px;
        margin: 10px;
    }
}


